.navbar-laravel {
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
.imageup input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.imageup label{
    background:$blue;
    color: $white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
    cursor: pointer;
}
.imageup input{
    cursor: pointer;
}
.imageup label + input:focus{
	outline: 1px dotted $black;
	outline: -webkit-focus-ring-color auto 5px;
}
.imageup label * + input {
	pointer-events: none;
}